@import "tailwindcss";

:root {
  --background: #121212;
}


.google-sans-flex {
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* change as needed */
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 0;
}


body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}


.poppins-thin { font-family: "Poppins", sans-serif; font-weight: 100; }
.poppins-extralight { font-family: "Poppins", sans-serif; font-weight: 200; }
.poppins-light { font-family: "Poppins", sans-serif; font-weight: 300; }
.poppins-regular { font-family: "Poppins", sans-serif; font-weight: 400; }
.poppins-medium { font-family: "Poppins", sans-serif; font-weight: 500; }
.poppins-semibold { font-family: "Poppins", sans-serif; font-weight: 600; }
.poppins-bold { font-family: "Poppins", sans-serif; font-weight: 700; }
.poppins-extrabold { font-family: "Poppins", sans-serif; font-weight: 800; }
.poppins-black { font-family: "Poppins", sans-serif; font-weight: 900; }

.poppins-thin-italic { font-family: "Poppins", sans-serif; font-weight: 100; font-style: italic; }
.poppins-extralight-italic { font-family: "Poppins", sans-serif; font-weight: 200; font-style: italic; }
.poppins-light-italic { font-family: "Poppins", sans-serif; font-weight: 300; font-style: italic; }
.poppins-regular-italic { font-family: "Poppins", sans-serif; font-weight: 400; font-style: italic; }
.poppins-medium-italic { font-family: "Poppins", sans-serif; font-weight: 500; font-style: italic; }
.poppins-semibold-italic { font-family: "Poppins", sans-serif; font-weight: 600; font-style: italic; }
.poppins-bold-italic { font-family: "Poppins", sans-serif; font-weight: 700; font-style: italic; }
.poppins-extrabold-italic { font-family: "Poppins", sans-serif; font-weight: 800; font-style: italic; }
.poppins-black-italic { font-family: "Poppins", sans-serif; font-weight: 900; font-style: italic; }


/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE & old Edge */
* {
  -ms-overflow-style: none;
}

::selection {
  color: black;
  background: #FACC15;
}

/* For Firefox compatibility  */
::-moz-selection {
  color:  black;
  background: #FACC15;
}

@keyframes toast-progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}


.Toastify__toast {
  background: transparent !important;
}